[Unit]
Description=Sure Smartie Linux LCD service
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=_sure-smartie
Group=_sure-smartie
SupplementaryGroups=dialout
EnvironmentFile=-/usr/local/etc/default/sure-smartie-linux
StateDirectory=sure-smartie-linux
LogsDirectory=sure-smartie-linux
WorkingDirectory=/var/lib/sure-smartie-linux
StandardOutput=journal
StandardError=journal
ExecStart=/usr/local/bin/sure-smartie-linux
Restart=on-failure
RestartSec=2
NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
